NODE_ENV=development

# Backend
PORT=3001
JWT_SECRET=change-me
JWT_EXPIRES_IN=15m

# AWS LocalStack
AWS_REGION=us-east-1
AWS_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_BUCKET=sap-logs

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
